<aside class="admin-sidebar">
    <h4>Admin Menu</h4>
    <ul>
        <li><a href="/admin/dashboard">Tổng quan</a></li>
        <li><a href="/admin/nodes">Trạng thái Node</a></li>
        <li><a href="/admin/users">Quản lý User</a></li>
        <li><a href="/admin/request-stats">Thống kê Request</a></li>
        </ul>
</aside>